* {
  font-family: source-han-sans-traditional, sans-serif;
  font-style: normal;
  font-weight: 300; }

body {
  background-color: #dddddd; }

ul.menu {
  background-color: cadetblue; }
  ul.menu li {
    list-style-type: none;
    display: inline-flex;
    margin-left: 20px; }
    ul.menu li:first-child {
      margin-left: 0; }
    ul.menu li a {
      color: #ffffff;
      background-color: brown;
      padding: 10px 20px; }

.container {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  font-size: 1.5em; }

.toolbar {
  background-color: #999999;
  padding: 10px; }
  .toolbar.my-turn {
    background-color: darkcyan; }
  .toolbar .right {
    float: right; }
  .toolbar .buttons a.button {
    text-decoration: none; }
    .toolbar .buttons a.button .image {
      width: 32px; }

.socket-status {
  margin-bottom: 5px;
  font-size: 14px; }
  .socket-status div {
    display: inline-block;
    margin-left: 10px;
    padding: 10px; }
    .socket-status div:first-child {
      margin-left: 0; }
    .socket-status div.on {
      background-color: yellowgreen; }
    .socket-status div.off {
      background-color: dimgrey; }

.grid-canvas {
  margin-top: 30px; }
  .grid-canvas .grid-svg-canvas {
    position: absolute;
    opacity: 0.5;
    pointer-events: none; }
  .grid-canvas.grid-answer-guess .row .col {
    border-color: #FF4500; }
  .grid-canvas.grid-else-guess .row .col {
    border-color: #dddddd;
    color: #999999; }
  .grid-canvas .row {
    margin-bottom: 10px;
    display: table; }
    .grid-canvas .row.center {
      margin-left: auto;
      margin-right: auto; }
    .grid-canvas .row .col {
      font-family: 'Open Sans', source-han-sans-traditional, sans-serif;
      background-color: #ffffff;
      display: inline-block;
      width: 30px;
      height: 30px;
      padding: 5px;
      text-align: center;
      border: 3px solid #999999;
      margin-left: 10px; }
      .grid-canvas .row .col:first-child {
        margin-left: 0; }
      .grid-canvas .row .col.clicked {
        background-color: #ffff00; }
      .grid-canvas .row .col.last-col {
        border-color: coral; }
      .grid-canvas .row .col .empty {
        color: #dddddd; }
    .grid-canvas .row .col-tips {
      font-family: 'Open Sans', source-han-sans-traditional, sans-serif;
      display: inline-block;
      margin-left: 10px; }
  .grid-canvas .line-count {
    font-size: 5em;
    position: absolute;
    right: 25px;
    top: 170px; }

.guess-zone .grid-canvas {
  margin-top: 10px; }

.css-1a2b .guess-zone {
  display: -webkit-flex;
  display: flex; }
  .css-1a2b .guess-zone .left-side {
    padding: 10px;
    background-color: #FAFAD2;
    width: 50%; }
  .css-1a2b .guess-zone .right-side {
    padding: 10px;
    background-color: #B2EFFF;
    width: 50%;
    padding-left: 10px; }
    .css-1a2b .guess-zone .right-side .disabled {
      color: #cccccc; }

.css-1a2b {
  padding-bottom: 180px; }
  .css-1a2b .tool-panel {
    background-color: #ffffff;
    padding: 5px;
    position: fixed;
    left: 5px;
    right: 5px;
    bottom: 5px;
    display: flex; }
  .css-1a2b .color-map .color-a {
    background-color: deeppink; }
  .css-1a2b .color-map .color-b {
    background-color: coral;
    color: black; }
  .css-1a2b .color-map .color-x {
    background-color: #555555;
    color: white; }
  .css-1a2b .color-map .color-empty {
    color: transparent; }
  .css-1a2b .color-map .selected {
    border-color: dodgerblue; }
