.css-1a2b {
    .guess-zone {
        //padding: 10px;
        //background-color: chartreuse;
        display: -webkit-flex;
        display: flex;

        .left-side {
            padding: 10px;
            background-color: #FAFAD2;
            width: 50%;
        }
        .right-side {
            padding: 10px;
            background-color: #B2EFFF;
            width: 50%;
            padding-left: 10px;

            .disabled {
                color: #cccccc;
            }
        }
    }
}