* {
    //font-family: 'Open Sans', source-han-sans-traditional, sans-serif;
    font-family: source-han-sans-traditional, sans-serif;
    font-style: normal;
    font-weight: 300;
}
body {
    background-color: #dddddd;
}