.toolbar {
    background-color: #999999;
    padding: 10px;

    &.my-turn {
        background-color: darkcyan;
    }

    .right {
        float: right;
    }

    .buttons {
        a {
            &.button {
                text-decoration: none;

                .image {
                    width: 32px;
                }
            }
        }
    }
}